{% extends 'base.html.twig' %}

{% block title %}
    Symfony - Accueil
{% endblock %}
        {% block stylesheets %}
            {# encore_entry_link_tags('app') #}
            {{ parent() }}
        {% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1>HomePage</h1>
        {%  for prenom in prenoms %}
            <a href="{{ path('toto',{ name:prenom}) }}">{{ prenom }}</a>
        {% endfor %}
    </div>
{% endblock %}